---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { h } from "../../components/solid/headerlink";
import Logo from "../../components/astro/Logo.astro";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((e) => ({
		params: {
			slug: e.slug,
		},
		props: { entry: e },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

// import all exported components
// currently not necessary and somewhat jank but there is no exports on entry so.
const exports = await import(
	/* @vite-ignore */
	"../../content/blog/" + entry.id
);
---

<Layout title={entry.data.title} description={entry.data.description} nav={false}>
	<div class="wrapper">
		<div class="wrapper">
			<Logo size="2em" />
			<h1>{entry.data.title}</h1>
			{entry.data.description && <h2>{entry.data.description}</h2>}
		</div>
		<div class="card">
			<Content components={{ ...(exports?.components || {}), h1: h(1), h2: h(2), h3: h(3), h4: h(4), h5: h(5), h6: h(6) }} />
		</div>
	</div>
</Layout>

<style>
	.wrapper > div {
		max-width: min(calc(100vw - 32px), 800px);
		word-wrap: break-word;
		white-space: pre-wrap;
		user-select: text;
	}
	
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>

<style is:global>
	.astro-code {
		padding: 8px;
	}
</style>
