---
import type { ContentEntryMap } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Logo from "../../components/astro/Logo.astro";

type t = ContentEntryMap["blog"];
interface Props {
	data: t[keyof t]["data"];
}

const { data } = Astro.props;
---

<Layout title={data.title} description={data.description} nav={false}>
	<div class="wrapper">
		<div class="wrapper">
			<Logo size={32} />
			<h1>{data.title}</h1>
			{data.description && <h2>{data.description}</h2>}
		</div>
		<div>
			<span class="debug-info">Mode: {data.ssr ? "SSR" : "SSG"} at {new Date().toLocaleString()}</span>
			<div class="card">
				<slot />
			</div>
		</div>
	</div>
</Layout>

<style>
	.wrapper > div {
		max-width: min(calc(100vw - 32px), 800px);
		word-wrap: break-word;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		user-select: text;
	}

	.debug-info {
		align-self: flex-start;
		font-size: 0.8em;
		padding: 0 8px;
	}
</style>

<style is:global>
	.astro-code {
		padding: 8px;
	}
</style>
